body {
  margin:0;
  padding:0;
  font-family: 'MyWebFont', Fallback, sans-serif;
  background: #222f3b;
}



/* Add Font  */
@font-face { 
  font-family: "MyWebFont"; 
  font-weight: thin;
  src: url('assets/font/BlenderPro-Thin.woff'),
       url('assets/font/BlenderPro-Thin.woff2');
}
@font-face { 
  font-family: "MyWebFont"; 
  font-weight: bold;
  src: url('assets/font/BlenderPro-Bold.woff'),
       url('assets/font/BlenderPro-Bold.woff2');
}



#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}


/* Sidebar */
.rounded-rect {
  background: #f2e041;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}

.flex-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.left {
  left: 0px;
}

.sidebar-content {
  z-index: 3;
  position: absolute;
  width: 95%;
  height: auto;
  font-family: MyWebFont, Fallback, sans-serif;
  font-size: 32px;
  line-height: 2;
  color: #232524;
}
        
.sidebar-toggle {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
         
.sidebar-toggle.left {
  right: -1.5em;
}

.sidebar-toggle:hover {
  color: #ff003c;
  cursor: pointer;
}
 
.sidebar {
  transition: transform 1s;
  z-index: 2;
  width: 300px;
  height: 100%;
}

.left.collapsed {
  transform: translateX(-295px);
}

@media screen and (max-height: 450px) {
  .sidebar-content-butten  {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebarText {
  font-family: 'MyWebFont', sans-serif;
  font-weight: thin;
  font-size: 18px;
  color: #232524;
  padding: 10px;
  text-align: left;
  line-height: normal;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.userID {
  color: #01f0ff;
  padding-bottom: 2px;
  text-align: left;
}

/* glitch effect */
.glitch {
  position: relative;
  text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05 0 rgba(0, 0, 255, 0.75);

    animation: glitch 750ms infinite;
}
.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}
@keyframes glitch {
  0% {
    text-shadow: 
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 
      0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: 
      -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: 
      -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 
      0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 
      0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 
      -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
@media (prefer-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}


/* Missions */
.missions {
  display: none;
  z-index: 3;
}

.missions-content {
  background-color: #f2e041;
  border-radius: 10px;
  z-index: 3;
}

.sidebarTextMissions {
  font-family: 'MyWebFont', sans-serif;
  font-weight: thin;
  font-size: 18px;
  color: #232524;
  padding: 10px;
  padding-left: 5px;
  text-align: left;
  line-height: normal;
}

#sidebarTextMenu {
  position: absolute;
  width: 120px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-left: 48px;
  line-height: 10px;
}

#sidebarTextMenu a {
  background: url(assets/buttonBackground.svg);
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; 
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.sidebarTextMenuMissions {
  position: absolute;
  width: 120px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-left: 42px;
  line-height: 20px;
  text-align: center;
}

.sidebarTextMenuMissions a {
  background: url(assets/buttonBackground.svg);
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; 
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.sidebarTextMenuMissions a.active {
  background: url(assets/buttonBackground2.svg);
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; 
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.sidebar-missions {
  z-index: 3;
  width: 300px;
  height: 100%;
}

.closeMissions {
  color: #222f3b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeMissions:hover, 
.closeMissions:focus {
  color: #ff003c;
  text-decoration: none;
  cursor: pointer;
}



/* Story */
.story {
  display: none;
  z-index: 3;
}

.story-content {
  background-color: #f2e041;
  border-radius: 10px;
  z-index: 3;
}

.sidebarTextStory {
  font-family: 'MyWebFont', sans-serif;
  font-weight: thin;
  font-size: 18px;
  color: #232524;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
  line-height: normal;
}

.sidebar-story {
  z-index: 3;
  width: 300px;
  height: 100%;
}

.closeStory {
  color: #222f3b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeStory:hover,
.closeStory:focus {
  color: #ff003c;
  text-decoration: none;
  cursor: pointer;
}



/* Help */
.help {
  display: none; 
  z-index: 3;
}

.help-content {
  background-color: #f2e041;
  border-radius: 10px;
  z-index: 3;
}

.sidebarTextHelp {
  font-family: 'MyWebFont', sans-serif;
  font-weight: thin;
  font-size: 18px;
  color: #232524;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
  line-height: normal;
}

.sidebar-help {
  z-index: 3;
  width: 300px;
  height: 100%;
}

.closeHelp {
  color: #222f3b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeHelp:hover,
.closeHelp:focus {
  color: #ff003c;
  text-decoration: none;
  cursor: pointer;
}



/* Timer */
#timer-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  text-align: center;
  top: 25px;
  width: 70px;
  background: #f5e042;
  font-family: MyWebFont, Fallback, sans-serif;
  border-radius: 5px;
}

.timer {
  z-index: 1;
  padding: 10px;
  font-size: large;
  color: #222f3b;
  font-weight: bold;
} 

/* Target found button */
#target-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  text-align: center;
  top: 875px;
  width: 140px; 
  background: #f5e042;
  font-family: 'MyWebFont', Fallback, sans-serif;
  border-radius: 5px;
}

.target {
  background-color: #f5e042;
  z-index: 1;
  padding: 10px;
  font-size: large;
  color: #222f3b;
  font-weight: bold;
} 




/* make a guess*/
#guess-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  text-align: center;
  top: 1025px;
  width: 120px;
  background: #f5e042;
  font-family: MyWebFont, Fallback, sans-serif;
  border-radius: 5px;
}